body {
  margin: 0;
  background-color: black;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  height: 100%;
  width: 100%;
  position: fixed;
}

.wide3 {
  grid-column-start: 1;
  grid-column-end: 4;
}

textarea {
  color: white;
  background-color: rgb(75, 75, 75);
  resize: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(194, 194, 194);
  opacity: 1; /* Firefox */
}

div > div {
  background-color: rgb(75, 75, 75);
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}