.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 0;
  padding: 0;
  margin: 0;
  height: 97vh;
}

.wide3 {
  grid-column-start: 1;
  grid-column-end: 4;
}

div {
  background-color: gray;
  border: solid;
}